<mat-nav-list>
    

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Promotion">Promotion</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Qualificatif">Qualificatif</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/Etudiant/etudiants">Etudiant</a>

    <mat-divider></mat-divider> 

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>


</mat-nav-list>