
<html>
    <body>
        <h3>{{promotion.formation.nomFormation}}</h3>

        <table class="table">
            <thead>
              <tr>
                <th>Code</th>
                <th>nom et prenom</th>
                <th></th>
              
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of myEtudiant;">
                <td>{{e.noEtudiant}}</td>
                <td><a href="#">{{e.nom}} {{e.prenom}}</a></td>
                <td><!--<button type="button" class="btn btn-danger" style="margin-right: 9px;" (click)="delete(p.promotionPK)">X</button>-->
                    <button type="button" class="btn btn-success" style="margin-right: 9px;"(click)="Afficheretudiant(e.noEtudiant)">détail</button>
                    <button type="button" class="btn btn-info" style="margin-right: 9px;" >modifier</button></td>
              </tr>
              
            </tbody>
          </table>

    </body>
</html>
