<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<h2>Liste de qualificatifs</h2>
<div class="container">
  <div>La table ci-dessous contient tous les qualificatifs</div>
  
  <table class="table">
    <thead>
      <tr>
        <th>Min</th>
        <th>Max</th>
        <th><button class="btn btn-success col-xs-8"  mat-icon-button onclick="window.location.href = 'http://localhost:4200/Qualificatif/add';">
          Ajouter
        </button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let q of qualificatifs;">
        <td>{{q.minimal}}</td>
        <td>{{q.maximal}}</td>
        <td>
            
          <button mat-icon-button class="btn btn-info" style="margin-right: 9px;" (click)="update(q)">
              modifier
          </button>
          <button mat-icon-button class="btn btn-danger" style="margin-right: 9px;"  (click)="delete(q.idQualificatif)">
            supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>